geburtstage.db
password.py
passworddb.py
pw_generator v1.0.py
pw_generator v1.5.py
pw_generator v1.6 copy.py
pw_generator v1.6.py
__pycache__/pw_generator.cpython-39.pyc
testingshit/framestest.py
testingshit/test.py
testingshit/test2.py
testingshit/test3.py
testingshit/testsqlite.py
testingshit/testwithframes.py
testingshit/testwithframes2.py
testingshit/testwithframes3.py
testingshit/tkinter_tab_test.py

/.venv